<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.summerproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetNickname"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Game.GameActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".word_tester.Tester_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FriendsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service
            android:name=".FriendNotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="thomas.example.com.namesanimals.FriendNotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="thomas.example.com.namesanimals.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".StatsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".word_tester.AdminActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".word_tester.AdminSent"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".word_tester.PasswordActivity" />
        <activity
            android:name=".InfoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TutorialViewer"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".FindFriendsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>